{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "PUBLIC_DATA_PATH": "../public/property-leading-indicators-public.json"
  }
}
